# 클라이언트 API호출

In [2]:
import pandas as pd
import numpy as np
import requests
import json

## 1. 단일 값 호출

In [4]:
input = {
  "Pclass":1,
  "Age":5,
  "Sex": 1
}
response = requests.post('http://127.0.0.1:8080/predict/', data = input)
result = response.json() # 결과를 json 형태로 받아와 저장하지만, python에서는 딕셔너리로 저장됨.
result['pred']

['Survived']

## 2. 여러 값 호출

In [5]:
input = {
  "Pclass":[2,1],
  "Age":[21,65],
  "Sex": [1,0]
}
response = requests.post('http://127.0.0.1:8080/predict/', data = input)
result = response.json() # 결과를 json 형태로 받아와 저장하지만, python에서는 딕셔너리로 저장됨.
result['pred']

['Died', 'Survived']

## 3. 데이터셋(배치)으로 전달하기

In [6]:
x = pd.read_csv('data/new_data.csv')
x.head()

   Survived  Pclass    Age  Sex
0         0       2  27.00    1
1         1       1  19.00    0
2         0       3  21.77    0
3         1       1  26.00    1
4         0       3  32.00    1

In [9]:
# json (dictionary) 형태로 변환.
input = { key : list(x[key]) for key in list(x) }
input

{'Survived': [0, 1, 0, 1, 0],
 'Pclass': [2, 1, 3, 1, 3],
 'Age': [27.0, 19.0, 21.77, 26.0, 32.0],
 'Sex': [1, 0, 0, 1, 1]}

In [10]:
response = requests.post('http://127.0.0.1:8080/predict/', data = input)
result = response.json() # 결과를 json 형태로 받아와 저장하지만, python에서는 딕셔너리로 저장됨.
result['pred']

['Died', 'Survived', 'Survived', 'Died', 'Died']

In [11]:
x['pred'] = result['pred']
x

   Survived  Pclass    Age  Sex      pred
0         0       2  27.00    1      Died
1         1       1  19.00    0  Survived
2         0       3  21.77    0  Survived
3         1       1  26.00    1      Died
4         0       3  32.00    1      Died